
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    
    Hey I'm an EJS file! Specifically the home page :-)

    <br>

    <%= firstName %> <%= lastName %>

    <% if (pic.length > 0) { %>

        <% for( let index = 0; index < pic.length; index++ ) { %>
            <img src="<%= pic[index] %>"  height="300px" width="600px" alt="firstPic">
        <% } %>
        
    <% } %>

    <% if (names.length > 0) { %>
        
        <% for( let index = 0; index < names.length; index++ ) { %>
            <h2> <%= names[index] %>  </h2>
        <% } %>

    <% } %>

    <% if (cities.length > 0) { %>
        
        <% for( let index = 0; index < (cities.length)-2; index++ ) { %>
            <h2> <%= cities[index] %>  </h2>
        <% } %>

    <% } %>
    
</body>
</html>